.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px3;
    .preview {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
