.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    // border: 1px solid black;
    // min-width: 200px;
    // margin: 0 10px 20px;
    .image {
        width: 100%;
        height: 95%;
        background-position: center;
        background-size: cover;
    }
    .collection-footer {
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        font-size: 14px;
        color: rgb(71, 71, 71);
    }
}
